torch
opencv-python
numpy
pandas
scikit-learn
ultralytics
norfair
sumolib
traci
stable-baselines3[extra]
gym==0.26.2
tensorboard
pyyaml
fastapi
uvicorn
matplotlib
jupyterlab
structlog
pytest
flake8
mypy
black
